<a id="spy-get-in-touch" class="ancor"></a>
<section class="section-contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 bg-1">
                <div class="item">
                    <header class="item__header">
                        <h2 class="item__title">ติดต่อเรา</h2>

                        <p class="item__subtitle">บริษัทเวิลด์ซีดส์ จำกัด </br>(World Seed co.,Ltd.)</p>
                    </header>

                    <div class="company-contacts">
                        <address>
							<p>
								<i class="fontello-location"></i>
								สำนักงานใหญ่ 89/477 หมู่ 5 ซอยโอฬาร 2, ถนนนวมินทร์ , แขวงคลองกุ่ม, เขตบึงกุ่ม, กรุงเทพฯ 10240
							</p>
							<p>
								<i class="fontello-location"></i>
								สาขาเชียงใหม่ 236 หมู่ 4 ต.แม่แวน  อ.พร้าว   จ.เชียงใหม่ 50190 
							</p>

							<p>
								<i class="fontello-phone-call"></i>
								(+66) 0 2738 7337 ต่อ 8,  (+66) 08 1531 8612  
							</p>
							<p>
								<i class="fontello-print"></i>
								FAX. 0 2738 733 
							</p>

							<p>
								<i class="fontello-mail"></i>
								<a href="mailto:worldseeds2552@hotmail.com">worldseeds2552@hotmail.com</a>
							</p>
						</address>

                        <div class="social-btns">
                            <div class="social-btns__inner">
                                <!--<a class="fontello-twitter" href="#" target="_blank"></a>-->
                                <a class="fontello-facebook" href="https://www.facebook.com/World-Seed-388346881349084/" target="_blank"></a>
                                <!--<a class="fontello-linkedin-squared" href="#" target="_blank"></a>-->
                                <a class="fontello-youtube" href="#" target="_blank"></a>
                                <!--<a class="fontello-gplus" href="#" target="_blank"></a>-->
                                <!--<a class="fontello-vimeo" href="#" target="_blank"></a>-->
                                <!--<a class="fontello-vkontakte" href="#" target="_blank"></a>-->
                                <a class="fontello-instagram" href="#" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 bg-2">
                <div class="item">
                    <header class="item__header">
                        <h2 class="item__title">Get In Touch</h2>

                        <p class="item__subtitle">Vinyl grown remarkable in survey wherever parents are it's. Mega bold action. Sold care</p>
                    </header>

                    <form class="f1" action="#">
                        <label class="input-wrp">
							<i class="fontello-user"></i>
							<input class="textfield" type="text" placeholder="You name" />
						</label>

                        <label class="input-wrp">
							<i class="fontello-mail"></i>
							<input class="textfield" type="text" placeholder="E-mail" />
						</label>

                        <label class="input-wrp">
							<i class="fontello-comment"></i>
							<textarea class="textfield" placeholder="Comment"></textarea>
						</label>

                        <div class="btn-wrp">
                            <button class="custom-btn long" type="submit" role="button">Send a message</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="item map-container">
                    <div class="g_map" data-longitude="19.298164" data-latitude="99.191837" data-marker="../img/marker.png"></div>
                </div>
            </div>
        </div>
    </div>
</section>